WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=wordpress_prod
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me-prod
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_DEBUG=0
WORDPRESS_CONFIG_EXTRA=define('DISALLOW_FILE_EDIT', true);
