MARIADB_DATABASE=powershiftreport
MARIADB_USER=iamawizard
MARIADB_PASSWORD=!_i+wjVJ4^#8dDC]yt
MARIADB_ROOT_PASSWORD=!_i+wjVJ4^#8dDC]yt

WORDPRESS_DATA_VOLUME=wordpress_code_data
WORDPRESS_UPLOADS_VOLUME=wordpress_uploads_data
MARIADB_DATA_VOLUME=wordpress_mariadb_data
