MARIADB_DATABASE=wordpress
MARIADB_USER=wordpress
MARIADB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-root-me

WORDPRESS_DATA_VOLUME=wordpress_code_data
WORDPRESS_UPLOADS_VOLUME=wordpress_uploads_data
MARIADB_DATA_VOLUME=wordpress_mariadb_data
